<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    name="APP" version="5.4.3" xsi:noNamespaceSchemaLocation="SDKSchema.xsd">
    <offlineCache>
        <length>0</length>
        <queueExpirationSecs>3600</queueExpirationSecs>
        <timeout>15</timeout>
        <retryLimit>3</retryLimit>
        <ark_timeout>5</ark_timeout>
        <ark_retryLimit>2</ark_retryLimit>
        <ark_offlinead_expiration>259200</ark_offlinead_expiration>
    </offlineCache>
    <ark>
        <keys>
            <![CDATA[s,760;clock,739;c_l,837;c,551;c_1,552;c_2,553;c_3,554;c_4,555;c_5,556;c_9,557;c_11,558;c_14,559;c_16,560;c_20,561;c_22,562;c_23,563;c_34,564;c_1021,840;]]></keys>
        <xkeys>
            <![CDATA[s,759;clock,740;c_l,836;c,565;c_1,566;c_2,567;c_3,568;c_4,569;c_5,570;c_9,571;c_11,572;c_14,573;c_16,574;c_20,575;c_22,576;c_23,577;c_34,578;c_1021,841;]]></xkeys>
        <vTarget><![CDATA[0;2;6;7]]></vTarget>
        <bitrate><![CDATA[1:350;2:800;3:1300;4:720p;5:1080p3m,1080p6m;6:2k;7:4k]]></bitrate>
    </ark>
    <companies>
        <company>
            <name>admaster</name>
            <dsp>6</dsp>
            <domain>
                <url>admaster.com.cn</url>
            </domain>
            <signature>
                <publicKey>Z83476Hel</publicKey>
                <paramKey>0b</paramKey>
            </signature>
            <switch>
                <isTrackLocation>false</isTrackLocation>
                <offlineCacheExpiration>86400</offlineCacheExpiration>
                <encrypt>
                    <MAC>md5</MAC>
                    <IDA>md5</IDA>
                    <IMEI>md5</IMEI>
                    <ANDROIDID>raw</ANDROIDID>
                </encrypt>
            </switch>
            <config>
                <arguments>
                    <argument>
                        <key>OS</key>
                        <value>0a</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>true</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>OS</key>
                        <value>[OS]</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>false</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>TS</key>
                        <value>t</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>true</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>MUID</key>
                        <value>0h</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>true</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>MUID</key>
                        <value>[ADUID]</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>false</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>REDIRECTURL</key>
                        <value>u</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>false</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                </arguments>
                <events>
                    <event>
                        <key>start</key>
                        <value>m201</value>
                        <urlEncode>true</urlEncode>
                    </event>
                    <event>
                        <key>end</key>
                        <value>m203</value>
                        <urlEncode>true</urlEncode>
                    </event>
                </events>
            </config>
            <separator>,</separator>
            <rseparator>,</rseparator>
            <equalizer />
            <requalizer>=</requalizer>
            <timeStampUseSecond>false</timeStampUseSecond>
        </company>
        <company>
            <name>miaozhen</name>
            <dsp>4</dsp>
            <domain>
                <url>.miaozhen.com</url>
            </domain>
            <signature />
            <switch>
                <isTrackLocation>true</isTrackLocation>
                <offlineCacheExpiration>604800</offlineCacheExpiration>
                <encrypt>
                    <MAC>raw</MAC>
                    <IDA>raw</IDA>
                    <IMEI>raw</IMEI>
                    <ANDROIDID>raw</ANDROIDID>
                </encrypt>
            </switch>
            <config>
                <arguments>
                    <argument>
                        <key>OS</key>
                        <value>mo</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>TS</key>
                        <value>mt</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>ADID</key>
                        <value>__IESID__</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                        <isAttached>false</isAttached>
                    </argument>
                    <argument>
                        <key>LE_AID</key>
                        <value>__DRA__</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                        <isAttached>false</isAttached>
                    </argument>
                    <argument>
                        <key>MUID</key>
                        <value>__uid__</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                        <isAttached>false</isAttached>
                    </argument>
                    <argument>
                        <key>REDIRECTURL</key>
                        <value>o</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                        <isAttached>false</isAttached>
                    </argument>
                </arguments>
                <events>
                    <event>
                        <key>start</key>
                        <value>mb=start</value>
                        <urlEncode>true</urlEncode>
                    </event>
                    <event>
                        <key>end</key>
                        <value>mb=end</value>
                        <urlEncode>true</urlEncode>
                    </event>
                </events>
            </config>
            <separator>&amp;</separator>
            <rseparator>&amp;</rseparator>
            <equalizer>=</equalizer>
            <requalizer>=</requalizer>
            <timeStampUseSecond>false</timeStampUseSecond>
        </company>
        <company>
            <name>double click</name>
            <dsp>7</dsp>
            <domain>
                <url>.doubleclick.net</url>
            </domain>
            <signature />
            <switch>
                <isTrackLocation>false</isTrackLocation>
                <offlineCacheExpiration>86400</offlineCacheExpiration>
                <encrypt>
                    <MAC>raw</MAC>
                    <IDA>raw</IDA>
                    <IMEI>raw</IMEI>
                    <ANDROIDID>raw</ANDROIDID>
                </encrypt>
            </switch>
            <config>
                <arguments>
                    <argument>
                        <key>MUID</key>
                        <value>[hashedmd5]</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                        <isAttached>false</isAttached>
                    </argument>
                    <argument>
                        <key>TS</key>
                        <value>[timestamp]</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                        <isAttached>false</isAttached>
                    </argument>
                </arguments>
                <events />
            </config>
            <separator>;</separator>
            <equalizer>=</equalizer>
            <timeStampUseSecond>false</timeStampUseSecond>
        </company>
        <company>
            <name>imrworldwide</name>
            <dsp>8</dsp>
            <domain>
                <url>secure-chn.imrworldwide.com</url>
            </domain>
            <signature />
            <switch>
                <isTrackLocation>false</isTrackLocation>
                <offlineCacheExpiration>86400</offlineCacheExpiration>
                <encrypt>
                    <MAC>md5</MAC>
                    <IDA>raw</IDA>
                    <IMEI>md5</IMEI>
                    <IDFA>raw</IDFA>
                    <ANDROIDID>md5</ANDROIDID>
                </encrypt>
            </switch>
            <config>
                <arguments>
                    <argument>
                        <key>OS</key>
                        <value>__OS__</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>false</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>MUID</key>
                        <value>__MAC__</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>false</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>TS</key>
                        <value>__TS__</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>false</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                </arguments>
                <events>
                    <event>
                        <key>start</key>
                        <value>m201</value>
                        <urlEncode>true</urlEncode>
                    </event>
                    <event>
                        <key>end</key>
                        <value>m203</value>
                        <urlEncode>true</urlEncode>
                    </event>
                </events>
            </config>
            <separator>&amp;</separator>
            <equalizer>=</equalizer>
            <timeStampUseSecond>false</timeStampUseSecond>
        </company>
        <company>
            <name>trafficjam</name>
            <dsp>13</dsp>
            <domain>
                <url>s.trafficjam.cn</url>
            </domain>
            <signature />
            <switch>
                <isTrackLocation>false</isTrackLocation>
                <offlineCacheExpiration>86400</offlineCacheExpiration>
                <encrypt>
                    <MAC>md5</MAC>
                    <IDA>raw</IDA>
                    <IMEI>md5</IMEI>
                    <IDFA>raw</IDFA>
                    <ANDROIDID>md5</ANDROIDID>
                    <ANDROIDID1>raw</ANDROIDID1>
                    <AAID>md5</AAID>
                </encrypt>
            </switch>
            <config>
                <arguments>
                    <argument>
                        <key>OS</key>
                        <value>__OS__</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>false</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>ADID</key>
                        <value>__IESID__</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                        <isAttached>false</isAttached>
                    </argument>
                    <argument>
                        <key>MUID</key>
                        <value>__MAC__</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>false</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>ODIN</key>
                        <value>__ODIN__</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>false</isRequired>
                    </argument>
                    <argument>
                        <key>AAID</key>
                        <value>__AAID__</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>false</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>TS</key>
                        <value>__TS__</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>false</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                </arguments>
                <events>
                    <event>
                        <key>start</key>
                        <value>m201</value>
                        <urlEncode>true</urlEncode>
                    </event>
                    <event>
                        <key>end</key>
                        <value>m203</value>
                        <urlEncode>true</urlEncode>
                    </event>
                </events>
            </config>
            <separator>&amp;</separator>
            <equalizer>=</equalizer>
            <timeStampUseSecond>false</timeStampUseSecond>
        </company>
        <company>
            <name>nielsen</name>
            <dsp>9</dsp>
            <domain>
                <url>s.cr-nielsen.com</url>
            </domain>
            <signature>
                <publicKey />
                <paramKey>pk</paramKey>
            </signature>
            <switch>
                <isTrackLocation>true</isTrackLocation>
                <offlineCacheExpiration>604800</offlineCacheExpiration>
                <encrypt>
                    <MAC>raw</MAC>
                    <IDA>raw</IDA>
                    <IMEI>raw</IMEI>
                    <ANDROIDID>raw</ANDROIDID>
                </encrypt>
            </switch>
            <config>
                <arguments>
                    <argument>
                        <key>TS</key>
                        <value>ts</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>MUID</key>
                        <value>muid</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>false</isRequired>
                    </argument>
                    <argument>
                        <key>ADID</key>
                        <value>muds</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                </arguments>
                <events>
                    <event>
                        <key>start</key>
                        <value>m201</value>
                        <urlEncode>true</urlEncode>
                    </event>
                    <event>
                        <key>end</key>
                        <value>m203</value>
                        <urlEncode>true</urlEncode>
                    </event>
                </events>
            </config>
            <separator>&amp;</separator>
            <equalizer>=</equalizer>
            <timeStampUseSecond>false</timeStampUseSecond>
        </company>
        <company>
            <name>wendax</name>
            <dsp>10</dsp>
            <domain>
                <url>wendax.com</url>
            </domain>
            <signature />
            <switch>
                <isTrackLocation>false</isTrackLocation>
                <offlineCacheExpiration>86400</offlineCacheExpiration>
                <encrypt>
                    <MAC>md5</MAC>
                    <IDA>md5</IDA>
                    <IMEI>md5</IMEI>
                    <ANDROIDID>raw</ANDROIDID>
                </encrypt>
            </switch>
            <config>
                <arguments>
                    <argument>
                        <key>MAC</key>
                        <value>wendax_macaddr</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>true</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>MUID</key>
                        <value>[ADUID]</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>false</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>REDIRECTURL</key>
                        <value>u</value>
                        <urlEncode>true</urlEncode>
                        <isAttached>false</isAttached>
                        <isRequired>true</isRequired>
                    </argument>
                </arguments>
                <events>
                    <event>
                        <key>start</key>
                        <value>m201</value>
                        <urlEncode>true</urlEncode>
                    </event>
                    <event>
                        <key>end</key>
                        <value>m203</value>
                        <urlEncode>true</urlEncode>
                    </event>
                </events>
            </config>
            <separator>&amp;</separator>
            <equalizer>=</equalizer>
            <timeStampUseSecond>false</timeStampUseSecond>
        </company>
        <company>
            <name>iresearch</name>
            <dsp>12</dsp>
            <domain>
                <url>a.irs01.com</url>
            </domain>
            <signature>
                <publicKey></publicKey>
                <paramKey>pk</paramKey>
            </signature>
            <switch>
                <isTrackLocation>true</isTrackLocation>
                <offlineCacheExpiration>604800</offlineCacheExpiration>
                <encrypt>
                    <MAC>raw</MAC>
                    <IDA>raw</IDA>
                    <IMEI>raw</IMEI>
                    <ANDROIDID>raw</ANDROIDID>
                </encrypt>
            </switch>
            <config>
                <arguments>
                    <argument>
                        <key>TS</key>
                        <value>ts</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                    <argument>
                        <key>MUID</key>
                        <value>muid</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>false</isRequired>
                    </argument>
                    <argument>
                        <key>ADID</key>
                        <value>muds</value>
                        <urlEncode>true</urlEncode>
                        <isRequired>true</isRequired>
                    </argument>
                </arguments>
                <events>
                    <event>
                        <key>start</key>
                        <value>m201</value>
                        <urlEncode>true</urlEncode>
                    </event>
                    <event>
                        <key>end</key>
                        <value>m203</value>
                        <urlEncode>true</urlEncode>
                    </event>
                </events>
            </config>
            <separator>&amp;</separator>
            <equalizer>=</equalizer>
            <timeStampUseSecond>false</timeStampUseSecond>
        </company>
    </companies>
    <placeholder />
</config>