<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lecloud.valley.demo">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/lecloud"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|layoutDirection"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <activity android:name="com.lecloud.valley.demo.sample.VodSDKActivity" />

        <meta-data
            android:name="WX_APPID"
            android:value="${WX_APPID}"
            tools:replace="android:value" />
        <meta-data
            android:name="WX_SECRET"
            android:value="${WX_SECRET}"
            tools:replace="android:value" />

        <meta-data
            android:name="QQ_APPID"
            android:value="${QQ_APPID}"
            tools:replace="android:value"/>
        <meta-data
            android:name="QQ_APPKEY"
            android:value="${QQ_APPKEY}"
            tools:replace="android:value"/>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent${QQ_APPID}" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="WB_APPKEY"
            android:value="${WB_APPKEY}"
            tools:replace="android:value" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}"
            tools:replace="android:value" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="${UMENG_MESSAGE_SECRET}"
            tools:replace="android:value" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}"
            tools:replace="android:value" />

    </application>

</manifest>