<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lecloud.DemoProject"
    android:versionCode="1"
    android:versionName="1.0">


    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@mipmap/lecloud"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|layoutDirection"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <activity android:name=".sample.VodSDKActivity"/>

        <activity android:name="com.lecloud.skin.activity.FeedBackActivity"
            android:configChanges="keyboard|screenSize|orientation|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <service
            android:name="com.letvcloud.cmf.MediaService"
            android:process=":cmf" />

        <!-- 微信开放平台配置 -->
        <meta-data android:name="WX_APPID" android:value="wxa9cc420610dce2cb"/>
        <meta-data android:name="WX_SECRET" android:value="a2239a7e15f0b19fad9f9d711f66ad70"/>

        <!-- 微信回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:exported="true"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sdksample"/>
            </intent-filter>
        </activity>

    </application>

</manifest>